@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Lato';
}

header {
  width: 100%;
  height: 800px;
  background-image: url('tlo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: end;
}

.menu-link {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 14px 20px;
  border-bottom: 2px solid transparent;
  transition-duration: 0.6s;
}

.menu-link:hover {
  border-bottom: 2px solid #ff5805;
}

h1 {
  margin: 100px 0;
  font-size: 35px;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.kontener {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.info {
  margin: 30px;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  object-fit: cover;
}

.potrawa {
  flex: 1;
}

p {
  padding: 0px 20px 0px 20px;
}

.zdj-galeria {
  margin-top: 10px;
  width: 400px;
  height: 200px;
  object-fit:cover;
}

.zdj-galeria:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
}

footer {
  width: 100%;
  background-color: #262626;
  margin-top: 50px;
}

footer h1 {
  color: #FFF;
  padding-top: 10px;
  margin: 0px;
}

form {
  color: white;
}

form input {
  width: 330px;
  height: 30px;
}

textarea {
  width: 330px;
  resize: none;
}

form label {
  font-size: 18px;
}

fieldset {
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
}

legend {
  font-size: 30px;
}

.button {
  width: 150px;
  height: 50px;
  background-color: #fa4a0a;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: 2px solid #fa4a0a;
  text-transform: uppercase;
}

.button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.auto-galeria {
  width: 100%;
  height: auto;
  max-width: 700px;
  border-radius:10px;
  border: 10px groove #FF0000;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .button {
    width: 100%;
  }
  
  form input, textarea {
    width: 200px;
  }
}